.navbar {
  color: #292C2F;
}


.prvi-tekst {
  text-align: center;
  padding: 30px 320px;
  background-color: #292C2F;
  color: white;
  height: 200px;
}

.odlike {
  text-align: left;
  background-color: #292C2F;
  color: white;
  padding: 20px 20px;
}

.opis {
  text-align: center;
  height: 200px;
  font-size: 20px;
  padding: 30px 70px;
  background-color: #EAE8E6;

}

hr.style14 {
  border: 0;
  height: 1px;
  width: 400px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.historija {
  text-align: center;
  height: 300px;
  font-size: 20px;
  padding: 30px 40px;
  background-color: #EAE8E6;
}

.contact-picture {
  width: 100%;
  height: 400px;
  background-image: image_url('slogom.jpg');
  background-size: cover;
}

.contact-box {
  padding-top: 40px;
}

#contact {
	background: white;
	color: #686868;
	padding-bottom: 80px;
}

textarea.form-control {
    height:100px;
}

.home-intro {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
  padding-top: 50px;
}

div#masonry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  max-height: 800px;
  font-size: 0;
}
div#masonry img {
  width: 33.3%;
  transition: .8s opacity;
}

div#masonry:hover img { opacity: 0.3; }
div#masonry:hover img:hover { opacity: 1; }

/* fallback for earlier versions of Firefox */

@supports not (flex-wrap: wrap) {
  div#masonry { display: block; }
  div#masonry img {
  display: inline-block;
  vertical-align: top;
  }
}
