<footer class="footer-distributed">
  <div class="footer-left">
    <h3><%= image_tag(("nee.png"), :class => "footer-logo") %></h3>
    <p class="footer-company-name">Handcrafted eyewear &copy; 2017</p>
  </div>
  <div class="footer-center">
    <div>
					<i class="fa fa-map-marker"></i>
					<p><span>21 Revolution Street</span> Paris, France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+1 555 123456</p>
				</div>
			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
          Dawood wooden eyewear stands out as an eco-friendly, completely hand crafted, all-natural product that will meet even the most demanding tastes.
				</p>

				<div class="footer-icons">

          <a href="https://www.facebook.com/DawoodStore/" class="link facebook"  target="_blank"><span class="fa fa-facebook"></span></a>
          <a href="https://www.instagram.com/dawood_woodencrafts/" class="link instagram" target="_blank"><span class="fa fa-instagram"></span></a>
          <a href="mailto:dawood.woodencrafts@gmail.com" class="link mail" title="Email: dawood.woodencrafts@gmail.com" target="_blank"><span class="fa fa-envelope"></span></a>
          </div>
        </div>
      </div>
  </body>
</html>



				</div>

			</div>

		</footer>

	</body>

</html>
