
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>Plum</h3>
        <p>Scientific Name: Prunus domestica</p>
        <p>Distribution: Widely cultivated in temperate areas worldwide</p>
        <p>Color/Appearance: Plum heartwood can exhibit a cornucopia of colors, typically a yellowish brown, with streaks of pink, orange, red, purple, olive, or gray mixed in. Because of the small size of plum trees, swirled or irregular grain, as well as knots and other defects are common.</p>
        <p>Although Plum is related to Cherry, it tends to be heavier and harder than Cherry, and much more scarce. Sizes are very limited, so Plum tends to be assigned primarily to smaller, more decorative purposes.</p>
      </div>
    </div>
  </div>
</div>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>Maple</h3>
        <p>Scientific Name: Acer campestre</p>
        <p>Distribution: Europe</p>
        <p>Color/Appearance: Unlike most other hardwoods, the sapwood of maple lumber is most commonly used rather than its heartwood. Sapwood color ranges from nearly white, to an off-white cream color, sometimes with a reddish or golden hue. The heartwood tends to be a darker reddish brown. Maple can also be seen with curly or quilted grain patterns.</p>
        <p>Although small and slow growing, Field Maple contends with Hard Maple (Acer saccharum) as being one of the hardest and heaviest maples around.  One of its claims to fame is that Field Maple  was used by Antonio Stradivari in making some of his famous violins.</p>
      </div>
    </div>
  </div>
</div>
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>Padauk</h3>
        <p>Scientific Name: Pterocarpus soyauxii</p>
        <p>Distribution: Central and tropical west Africa</p>
        <p>Color/Appearance: Heartwood color can vary, ranging from a pale pinkish orange to a deep brownish red. Most pieces tend to start reddish orange when freshly cut, darkening substantially over time to a reddish/purplish brown (some lighter pieces age to a grayish brown). See the article Preventing Color Changes in Exotic Woods for more information.</p>
        <p>Padauk has a very unique reddish orange coloration, and the wood is sometimes referred to by the name Vermillion.</p>
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>Europian walnut</h3>
        <p>Scientific Name: Juglans regia</p>
        <p>Distribution: Eastern Europe and western Asia</p>
        <p>Color/Appearance: Heartwood can range from a lighter pale brown to a dark chocolate brown with darker brown streaks. Color can sometimes have a gray, purple, or reddish cast. Sapwood is nearly white. European Walnut can occasionally also be found with figured grain patterns such as: curly, crotch, and burl.</p>
        <p>Known in Europe simply as “Walnut,” or “Common Walnut,” English Walnut (Juglans regia) is the source of what are the most common form of edible walnuts for human consumption.</p>
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>Black Walnut</h3>
        <p>Scientific Name: Juglans nigra</p>
        <p>Distribution: Eastern United States</p>
        <p>Color/Appearance: Heartwood can range from a lighter pale brown to a dark chocolate brown with darker brown streaks. Color can sometimes have a grey, purple, or reddish cast. Sapwood is pale yellow-gray to nearly white. Figured grain patterns such as curl, crotch, and burl are also seen.</p>
        <p>It would be hard to overstate Black Walnut’s popularity among woodworkers in the United States. Its cooperative working characteristics, coupled with its rich brown coloration puts the wood in a class by itself among temperate-zone hardwoods. To cap it off, the wood also has good dimensional stability, shock resistance, and strength properties.</p>
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>Sapele</h3>
        <p>Scientific Name: Entandrophragma cylindricum</p>
        <p>Distribution: Tropical Africa</p>
        <p>Color/Appearance: Heartwood is a golden to dark reddish brown. Color tends to darken with age. Besides the common ribbon pattern seen on quartersawn boards, Sapele is also known for a wide variety of  other figured grain patterns, such as: pommele, quilted, mottled, wavy, beeswing, and fiddleback.</p>
        <p>Sapele is sometimes referred to as “Sapele Mahogany.” Technically, the two genera that are commonly associated with mahogany are Swietenia and Khaya, while Sapele is in the Entandrophragma genus, but all three are included in the broader Meliaceae family, so comparisons to true mahogany may not be too far fetched.</p>
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>Wenge</h3>
        <p>Scientific Name: Millettia laurentii</p>
        <p>Distribution: Central Africa</p>
        <p>Color/Appearance: Heartwood is medium brown, sometimes with a reddish or yellowish hue, with nearly black streaks. Upon application of a wood finish (particularly an oil finish) the wood can become nearly black.</p>
        <p>Usually pronounced WHEN-gii or WHEN-ghay, the wood has excellent strength and hardness properties, and is also dark enough to be used as a substitute for ebony.</p>
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>European Ash</h3>
        <p>Scientific Name: Fraxinus excelsior</p>
        <p>Distribution: Europe and southwestern Asia</p>
        <p>Color/Appearance: The heartwood is a light to medium brown color, though darker streaks can also be seen, which is sometimes sold as Olive Ash. Sapwood can be very wide, and tends to be a beige or light brown; not always clearly or sharply demarcated from heartwood.</p>
        <p>European Ash has fairly good strength properties for its weight, and is also shock resistant. When stained, ash can look very similar to oak (Quercus spp.), although oaks have much wider rays, which are visible on all wood surfaces—even on flatsawn surfaces, where they appear as short, thin brown lines between the growth rings. Ashes lack these conspicuous rays.</p>
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>Zebrawood</h3>
        <p>Scientific Name: Microberlinia brazzavillensis</p>
        <p>Distribution: West Africa</p>
        <p>Color/Appearance: Heartwood is a light brown or cream color with dark blackish brown streaks vaguely resembling a zebra’s stripes. Depending on whether the wood is flatsawn or quartersawn, the stripes can be either chaotic and wavy (flatsawn), or somewhat uniform (quartersawn).</p>
        <p>Sometimes called Zebrano, the wood is strong and stiff, with a fairly high density. However, the wood is much more frequently used for its bold and unique striping.</p>
      </div>
    </div>
  </div>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
	<div class="flipper">
		<div class="front">
      <img class="slika" src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.pixabay.com%2Fphoto%2F2015%2F05%2F26%2F21%2F39%2Fwood-785605_960_720.jpg&f=1"></img>
    </div>
    <div class="back">
      <div class="tekst-opis">
        <h3>Cherry</h3>
        <p>Scientific Name: Prunus avium</p>
        <p>Distribution: Europe and Asia</p>
        <p>Color/Appearance: Heartwood is a light pinkish brown when freshly cut, darkening to a deeper golden brown with time and upon exposure to light. Sapwood is a pale yellowish color, typically 1-2″ wide.</p>
        <p>Sweet Cherry is the Old World counterpart to Black Cherry found in North America. Sweet Cherry is said to exhibit a bit more of a color contrast than Black Cherry, and it also tends to be slightly denser and stronger. However, the tree itself tends to be smaller than Prunus serotina, and does not yield the larger sizes of lumber that are available for the American species.</p>
      </div>
    </div>
  </div>
</div>
